.diagonal_left {
  background: linear-gradient(to top right, #00000000 calc(50% - 1px), black , #00000000 calc(50% + 1px) );
}
.diagonal_right{
  background: linear-gradient(to bottom right, #00000000 calc(50% - 1px), black , #00000000 calc(50% + 1px) );
}
.cross{
  background-image: linear-gradient(to top right, #00000000 calc(50% - 1px), #666, #00000000 calc(50% + 1px) ),
                    linear-gradient(to bottom right, #00000000 calc(50% - 1px), #666 , #00000000 calc(50% + 1px) );
}
